@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}
:root {
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--clr-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:100vh;
  width: 100vw;
  gap:1rem;
  padding-top: 1.5rem;
  padding-bottom:1.5rem ;
}


/* project css*/
.main-title{
  height: auto;
}
.main{
  height: 25rem;;
  background-color:#ffffff;
  border-radius: 20px;
  display:flex;
  gap:2rem;
  padding-top: -2rem;
  padding: 1rem;
  width: 45rem;
  margin: auto;
}
.form-control{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.section-title{
  color: var(--clr-grayish-cyan);
  font-size: 18px;
}

.input-bill{
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-light-grayish-cyan);
  border:none;
  border-radius: 8px;
  font-size: 24px;
  color: var(--clr-very-dark-cyan);
}
.input-people{
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-light-grayish-cyan);
  border:none;
  border-radius: 8px;
  font-size: 24px;
  color: var(--clr-very-dark-cyan);
}
.tips-container{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  width: 100%;
}
.left-container{
  width: 50%;
}

.left-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 22rem;
}
.tip-percentage{
  width: 6rem;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--clr-very-dark-cyan);
  border: none;
  border-radius: 5px;
  color: white;
}
.tip-percentage:hover{
  background-color: #0becce;
  transition: 0.3s;
}

/* .tip-percent:hover {
  background-color: var(--clr-Strong-cyan);
  color: var(--clr-very-dark-cyan);
  transition: 0.3s;
  cursor: pointer;
  border: none;
} */
.custom-tip{
  width: 6rem;
  padding:0.5rem;
}
 .error-msg {
  display: none;
  color: yellow;
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
 }

 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}



.right-container{
  width: 50%;
  background-color:var(--clr-very-dark-cyan);
  height: 22rem;
  border-radius: 5px;
  padding-top: 0.5rem;
}
.output{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.title{
  color: white;
}
.amount{
  font-size: 2rem;
  color: var(--clr-strong-cyan)
}
.button{
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}
.btn-reset{
  width: 80%;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--clr-strong-cyan);
  cursor: pointer;
}

.btn-reset:hover {
  background-color: #0becce;
  transition: 0.3s;
}



@media screen and (max-width:426px) {
  body{
    height:100vh;
  }
  .main-title{
    height: 2rem;
    text-align: center;
  }
  .main{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 45rem;
    margin-top: 3rem;
  }
  .right-container{
    width: 100%;
    height:22rem;
  }
  .left-container{
    width: 100%;
    height: 18rem;
  }
}

















































